<section class="container-fluid p-3 p-md-5">
	<div class="row justify-content-between">

		<!-- SECTION: JOTS LIST BOX (LEFT) -->
		<section class="col-12 col-md-4 col-lg-3 mb-2 mb-md-0 mainBoxes rounded">
			<h1 class="text-center py-2 mb-0">Jots: <span id="jotCount"></span></h1>
			<hr class="mt-0 py-0" />

			<div>
				<form onsubmit="app.JotsController.createJot(event)">
					<div class="form-group row d-flex justify-content-between p-2">
						<input type="text" class="col-12 rounded py-1" for="favcolor" class="form-control" name="title"
							placeholder="Note Name:" minlength="3" maxlength="15">

						<select class="col-9 custom-select my-2 mr-sm-2" name="securityLevel" required>
							<option value="" selected disabled>Choose Importance Level:</option>
							<option class="yellow" value="yellow">Euclid</option>
							<option class="orange" value="orange">Keter</option>
							<option class="red" value="red">Apollyon</option>
							<option class="purple" value="purple">Thaumiel</option>
							<option class="green" value="green">Archon</option>
							<option class="blue" value="blue">Ticonderoga</option>
						</select>

						<button type="submit" class="col-2 text-center p-0 my-2 addBtn">Add</button>
					</div>
				</form>
			</div>
			<hr />

			<div>
				<ul class="fs-3" id="jotList">
					<li>HTML<i class="mdi mdi-circle-double fs-6 yellow"></i></li>
					<li>CSS<i class="mdi mdi-circle-double fs-6 orange"></i></li>
					<li>JavaScript<i class="mdi mdi-circle-double fs-6 red"></i></li>
					<li>Sass<i class="mdi mdi-circle-double fs-6 purple"></i></li>
					<li>Vue<i class="mdi mdi-circle-double fs-6 green"></i></li>
					<li>Svelte<i class="mdi mdi-circle-double fs-6 blue"></i></li>
				</ul>
			</div>

		</section>


		<!-- SECTION: ACTIVE JOT TEXT (RIGHT) -->
		<section class="col-12 col-md-8 mainBoxes rounded">
			<span class="p-2 p-xl-5 rounded row" id="activeJot">

				<span class="col-12 col-md-7 pt-4 pt-md-0 d-flex justify-content-center">
					<!-- <h1>HTML<i class="mdi mdi-circle-double fs-6 li-1"></i></h1>
					<p class="my-4"><u>Created at:</u> 10/07/2022, 7:13:44 PM</p>
					<p class="my-4"><u>Updated at:</u> 11/11/2022, 4:09:10 PM</p> -->
					<img class="fixImg" src="assets/img/typewriter.png" alt="">
				</span>


				<!-- <span class="col-12 col-md-8 col-lg-8">
					<form>
						<div class="form-group">
							<textarea class="form-control" id="textArea" rows="22"
								placeholder="Jot something down..."></textarea>
							<span class="row justify-content-between align-items-center px-3 my-3">
								<button for="textArea" type="submit" class="addBtn py-1 col-8">Submit</button>
								<button class="dltBtn col-1"><i class="mdi mdi-trash-can dltIcon "></i></button>
							</span>
						</div>
					</form>
				</span> -->

			</span>
		</section>

	</div>
</section>